@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";
@import "shadcn/tailwind.css";


/* Default Font */
body {
  font-family: var(--font-hanken-grotesk);
}

/* Optional Utility Class */
.font-heading {
  font-family: var(--font-instrument-serif);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}