@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tw-animate-css";
@import "shadcn/tailwind.css";


/* Default Font */
body {
  font-family: var(--font-hanken-grotesk), Arial, Helvetica, sans-serif;
}

/* Optional Utility Class */
.font-heading {
  font-family: var(--font-instrument-serif), Georgia, serif;
  /* font-weight: 500; */
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.profile-messages-active footer {
  display: none;
}
